@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Jeju Gothic';
}
h5 {
	font-family: 'Jeju Gothic';
	font-size: 18px;
}
body {
	font-family: 'Nanum Gothic';
	background-color: #000;
	color: #FFF;
}

.btn-primary {
    color: #FFF;
    background-color: #dc3545;
    border-color: #dc3545;
}

a {
    color: #dc3545;
}

.nav-link {
    color: #FFF;
}

.modal-header {
	background: #343a40;
}

.modal-body {
	background: #343a40;
}